
.ProductList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
  }
  .heading-product{
    margin-left: 30%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


.filter-dropdown {
    margin: 20px 0;
    margin-left: 10%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  select:hover,
  select:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }
  

  option {
    font-size: 16px;
  }
  

  select::-ms-expand {
    display: none;
  }
  
  select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
  }
  

  select option:checked {
    background-color: #4caf50;
    color: #fff;
  }

  